/* Styles for the toolbar and search input can be adjusted as needed */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Spacing for any elements within the toolbar */
.spacer {
  flex: 1;
}

/* Styles for the paginator */
.mat-paginator {
  display: flex;
  justify-content: center;
  padding: 20px;
}


.user-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.user-not-found h2 {
  margin: 0;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

mat-card {
  width: 180px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

img {
  width: 180px;
  height: 180px;
}

mat-card-title {
  font-size: 16px;
}

.search-input {
  width: 100%;
  max-width: 300px; /* Adjust the width as needed */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Padding inside the input */
  font-size: 16px; /* Font size */
  margin-left: auto; /* Align to the right */
}

/* Style the input when it's focused */
.search-input:focus {
  border-color: #3f51b5; /* Change border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 3px rgba(63, 81, 181, 0.5); /* Add a subtle shadow */
}

.mat-paginator {
  display: flex;
  justify-content: center;
  padding: 20px;
}